<style>
    {{fontawesome-css}}  
</style>

<div class="vertical-box w-100" style="margin-left: 45px; margin-right: 26px;">
    <div class="space-between w-100" style="height: 50px;">
        [[HEAD]]
    </div>
</div>